.BtnAjoutRessource{
    position: sticky;
    bottom: 30px;
    color: #1a1a1a;
    cursor:pointer;
    text-shadow: 3px 3px;
    display: flex;
}

.Btn{


    margin-left: auto;
    margin-right: 30px;
}

