.Entete{
    width: 100%;
    background-color: black;
    margin : 0px;
    top: 0;
    position: sticky;
    color : lightgray;
    display: flex;
    font-size: 1.3em;
}

.logo{
    padding: 7px;
}
.avatar{
    padding-right: 20px;
        list-style: none;
        
        margin-left: auto;
    }